# Compilação e Artefatos (Maven)
target/
*.class
*.war
*.ear
*.jar
*.zip
*.tar.gz

# Configurações do IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Arquivos de log e temporários
*.log
temp/

# Configurações locais do Spring (sensível)
src/main/resources/application-local.properties

# Sistema Operacional
.DS_Store
Thumbs.db