# =========================
# JAVA / MAVEN / GRADLE
# =========================

# Build
target/
build/
out/

# Arquivos compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log

# =========================
# INTELLIJ IDEA
# =========================

.idea/
*.iws
*.iml
*.ipr

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# SISTEMA OPERACIONAL
# =========================

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Linux
*~

# =========================
# CONFIGS LOCAIS (IMPORTANTE)
# =========================

# Arquivos sensíveis
.env
.env.*

# Configurações locais
application-local.properties
application-dev.properties

# =========================
# DATABASE / TEMP
# =========================

*.sqlite
*.db

# =========================
# NODE (se tiver front junto)
# =========================

node_modules/
dist/
coverage/

# =========================
# OUTROS
# =========================

*.tmp
*.bak
*.swp